html{
    margin: 0;
}

body{
    margin: 0;
}

.wrapper-title{
    display: flex;
    align-items: center;
	flex-direction: column;
	height: 20vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center -20px;
	background-image: url(https://www.dropbox.com/s/vokpxukffsay0o0/cloud.png?raw=1);
}

h1{
    font-family: 'PT Sans', sans-serif;
	font-size: 4rem;
	margin-top: 0;
	text-shadow: 5px 5px 7px white, -5px -5px 7px white, -5px 5px 7px white, 5px -5px 7px white;
	z-index: 1;
	user-select: none;
}

h2{
	font-family: 'Lora', serif;
	letter-spacing: 7px;
	margin-bottom: 0;
	text-shadow: 5px 5px 7px white, -5px -5px 7px white, -5px 5px 7px white, 5px -5px 7px white;
	z-index: 1;
	user-select: none;
}

@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		transform: translateX(-3px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.hvr-bob{
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 5s;
	animation-duration: .3s, 5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

@keyframes hvr-bob2 {
	0% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
		transform: translateX(3px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.hvr-bob2{
	-webkit-animation-name: hvr-bob-float, hvr-bob2;
	animation-name: hvr-bob-float, hvr-bob2;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 3s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

.hvr-icon-grow-rotate:hover{
	-webkit-transform: scale(1.05) rotate(2deg);
	transform: scale(1.05) rotate(2deg);
	animation-duration: 1s;
}

h1:hover{
	transform: scale(1.05) rotate(2deg);
}

.wrapper-keys-piano{
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
}

.wrapper-button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 25.4vw;
	margin-right: 25.4vw;
	position: relative;
	bottom: 31vh;
}

.buttons-left{
	display: flex;
	flex-direction: row;
}

.buttons-right{
	display: flex;
	flex-direction: row;
}

.wrapper-button p{
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
	user-select: none;
}

.kick:hover, .snare:hover, .hihat:hover{
	background-color: tomato;
}

.kick{
	align-self: flex-start;
	height: 6vw;
	width: 6vw;
	background-image: url(https://www.dropbox.com/s/pi6ra58qvowk8l2/kick.png?raw=1);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 5px grey;
	border-radius: 1vw;
}

	
.snare{
	align-self: flex-start;
	height: 6vw;
	width: 6vw;
	margin-left: 1vw;
	background-image: url(https://www.dropbox.com/s/mkwz8ldzt2lvmtg/snare.png?raw=1);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 5px grey;
	border-radius: 1vw;
}

.hihat{
	align-self: flex-start;
	height: 6vw;
	width: 6vw;
	margin-left: 1vw;
	background-image: url(https://www.dropbox.com/s/4t8lwnhfa4bcfh2/hihat.png?raw=1);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 5px grey;
	border-radius: 1vw;
}

.sound1{
	height: 6vw;
	width: 6vw;
	margin-left: 1vw;
	background-image: url(https://www.dropbox.com/s/woh69exuw7yscn9/notes.png?raw=1);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 5px grey;
	border-radius: 1vw;
}

.sound2{
	height: 6vw;
	width: 6vw;
	margin-left: 1vw;
	background-image: url(https://www.dropbox.com/s/woh69exuw7yscn9/notes.png?raw=1);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 5px grey;
	border-radius: 1vw;
}

.wrapper-keys{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	position: relative;
	bottom: 31vh;
	margin-left: 27vw;
	margin-right: 27vw;
}

.key{
	width: 2.5vw;
	height: 10%;
	margin: 01vw;
	/* background-color: rgba(150, 150, 150, 0.61); */
	border-radius: 2px;
	/* box-shadow: 2px 2px 5px grey; */
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6vw;
	color: rgba(51, 51, 51, 0.9);
	user-select: none;
}

.key-black{
	position: relative;
	width: 2vw;
	height: 20%;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6vw;
	color: rgba(255, 255, 255, 0.9);
	user-select: none;
}

.key-black.pushed{
	position: relative;
	left: 4.5vw;
	bottom: 25vw;
	width: 3vw;
	height: 65%;
	background-color: rgb(184, 55, 32);
	box-shadow: 2px 2px 5px grey;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.key-white.pushed{
	width: 6vw;
	height: 25vw;
	margin-right: 1px;
	background-color: rgb(184, 55, 32);
	box-shadow: 2px 2px 5px grey;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

section{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.shine{
	display: flex;
	align-self: flex-start;
	align-items: flex-end;
}

.wrapper-white{
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: relative;
	bottom: 30vh;
	margin-left: 20vw;
	margin-right: 20vw;
}

.c1, .d1, .e1, .f1, .g1, .a1, .b1, .c2{
	width: 6vw;
	height: 25vw;
	margin-right: 1px;
	background-color: ivory;
	box-shadow: 2px 2px 5px grey;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.c1:hover, .d1:hover, .e1:hover, .f1:hover, .g1:hover, .a1:hover, .b1:hover, .c2:hover {
	/* transform: rotate(-2deg); */
	transform-origin: top center;
	background-color: tomato;
}

.c1:active, .d1:active, .e1:active, .f1:active, .g1:active, .a1:active, .b1:active, .c2:active {
	/* transform: rotate(-2deg); */
	transform-origin: top center;
	background-color: rgb(184, 55, 32);
}

.shine{
	width: 80%;
	height: 95%;
	margin-right: 10%;
	box-shadow: 1px 1px 4px rgba(245, 245, 245, 0.705);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.wrapper-black{
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: relative;
	bottom: 30vh;
	margin-left: 20vw;
	margin-right: 20vw;
}

.ciss1, .diss1, .fiss1, .giss1, .aiss1{
	position: relative;
	left: 4.5vw;
	bottom: 25vw;
	width: 3vw;
	height: 65%;
	background-color: black;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.ciss1:hover, .diss1:hover, .fiss1:hover, .giss1:hover, .aiss1:hover{
	position: relative;
	left: 4.5vw;
	width: 3vw;
	height: 65%;
	background-color: tomato;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.ciss1:active, .diss1:active, .fiss1:active, .giss1:active, .aiss1:active{
	position: relative;
	left: 4.5vw;
	width: 3vw;
	height: 65%;
	background-color:rgb(184, 55, 32);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.c1i, .d1i, .e1i, .f1i, .g1i, .a1i, .b1i, .c2i{
	width: 6vw;
	height: 25vw;
	margin-right: 1px;
}

/* -----------CLOUD ANIMATION------------- */

body {
	/*To hide the horizontal scroller appearing during the animation*/
	overflow: hidden;
}

#clouds{
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
	opacity: 0.6; /*opacity proportional to the size*/
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.4; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.6; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.55; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.6; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

/* -----------CLOUD ANIMATION------------- */

@media only screen and (max-width: 800px){

	.wrapper-keys-piano{
		margin-top: 30vh;
	}
	
	.cloud{
		display: none;
	}

	.wrapper-title{
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 20vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center -20px;
		background-image: url(https://www.dropbox.com/s/vokpxukffsay0o0/cloud.png?raw=1);
	}
	
	h1{
		font-family: 'PT Sans', sans-serif;
		font-size: 4rem;
		margin-top: 0;
		text-shadow: 5px 5px 7px white, -5px -5px 7px white, -5px 5px 7px white, 5px -5px 7px white;
		z-index: 1;
		user-select: none;
		color: black;
	}
	
	h2{
		font-family: 'Lora', serif;
		letter-spacing: 7px;
		margin-bottom: 0;
		text-shadow: 5px 5px 7px white, -5px -5px 7px white, -5px 5px 7px white, 5px -5px 7px white;
		z-index: 1;
		user-select: none;
	}
	

	.wrapper-button{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 25.4vw;
		margin-right: 25.4vw;
		position: relative;
		bottom: 31vh;
	}
	
	.buttons-left{
		display: flex;
		flex-direction: row;
	}
	
	.buttons-right{
		display: flex;
		flex-direction: row;
	}
	
	.wrapper-button p{
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 2.5vw;
		margin-left: 1vw;
		margin-bottom: 1vw;
		user-select: none;
	}
	
	.kick:hover, .snare:hover, .hihat:hover{
		background-color: tomato;
	}
	
	.kick{
		align-self: flex-start;
		height: 12vw;
		width: 12vw;
		background-image: url(https://www.dropbox.com/s/pi6ra58qvowk8l2/kick.png?raw=1);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 2px 2px 5px grey;
		border-radius: 1vw;
	}
	
		
	.snare{
		align-self: flex-start;
		height: 12vw;
		width: 12vw;
		margin-left: 1vw;
		background-image: url(https://www.dropbox.com/s/mkwz8ldzt2lvmtg/snare.png?raw=1);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 2px 2px 5px grey;
		border-radius: 1vw;
	}
	
	.hihat{
		align-self: flex-start;
		height: 12vw;
		width: 12vw;
		margin-left: 1vw;
		background-image: url(https://www.dropbox.com/s/4t8lwnhfa4bcfh2/hihat.png?raw=1);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 2px 2px 5px grey;
		border-radius: 1vw;
	}
	
	.sound1{
		height: 12vw;
		width: 12vw;
		margin-left: 1vw;
		background-image: url(https://www.dropbox.com/s/woh69exuw7yscn9/notes.png?raw=1);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 2px 2px 5px grey;
		border-radius: 1vw;
	}
	
	.sound2{
		height: 12vw;
		width: 12vw;
		margin-left: 1vw;
		background-image: url(https://www.dropbox.com/s/woh69exuw7yscn9/notes.png?raw=1);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 2px 2px 5px grey;
		border-radius: 1vw;
	}

	.wrapper-button{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 10vw;
		margin-right: 10vw;
		position: relative;
		bottom: 31vh;
	}

	.wrapper-keys{
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		position: relative;
		bottom: 31vh;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.wrapper-white{
		display: flex;
		justify-content: center;
		flex-direction: row;
		position: relative;
		bottom: 30vh;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.wrapper-black{
		display: flex;
		justify-content: center;
		flex-direction: row;
		position: relative;
		bottom: 30vh;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.key{
		width: 2.5vw;
		height: 10%;
		margin: 1vw;
		/* background-color: rgba(150, 150, 150, 0.61); */
		border-radius: 2px;
		/* box-shadow: 2px 2px 5px grey; */
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 3vw;
		color: ivory;
		user-select: none;
	}
	
	.key-black{
		position: relative;
		width: 2vw;
		height: 20%;
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 3vw;
		color: black;
		user-select: none;
	}

	.key-black p{
		visibility: hidden;
	}
	
	.key-black.pushed{
		position: relative;
		left: 4.5vw;
		bottom: 50vw;
		width: 6vw;
		height: 65%;
		background-color: rgb(184, 55, 32);
		box-shadow: 2px 2px 5px grey;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		color: rgb(184, 55, 32);
	}
	
.key-white p{
	visibility: hidden;
}

	.key-white.pushed{
		width: 12vw;
		height: 50vw;
		margin-right: 1px;
		background-color: rgb(184, 55, 32);
		box-shadow: 2px 2px 5px grey;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: rgb(184, 55, 32);
	}
	
	section{
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	
	.shine{
		display: flex;
		justify-content: center;
		align-self: flex-start;
		align-items: flex-end;
	}
	
	.wrapper-white{
		display: flex;
		justify-content: center;
		flex-direction: row;
		position: relative;
		bottom: 30vh;
		margin-left: 10vw;
		margin-right: 10vw;
	}
	
	.c1, .d1, .e1, .f1, .g1, .a1, .b1, .c2{
		width: 12vw;
		height: 50vw;
		margin-right: 1px;
		background-color: ivory;
		box-shadow: 2px 2px 5px grey;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: ivory;
	}
	
	.c1:hover, .d1:hover, .e1:hover, .f1:hover, .g1:hover, .a1:hover, .b1:hover, .c2:hover {
		/* transform: rotate(-2deg); */
		transform-origin: top center;
		background-color: tomato;
		color: tomato;
	}
	
	.c1:active, .d1:active, .e1:active, .f1:active, .g1:active, .a1:active, .b1:active, .c2:active {
		/* transform: rotate(-2deg); */
		transform-origin: top center;
		background-color: rgb(184, 55, 32);
		color: rgb(184, 55, 32);
	}
	
	.shine{
		width: 80%;
		height: 95%;
		margin-right: 10%;
		box-shadow: 1px 1px 4px rgba(245, 245, 245, 0.705);
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	
	.wrapper-black{
		display: flex;
		justify-content: center;
		flex-direction: row;
		position: relative;
		bottom: 30vh;
		margin-left: 12vw;
		margin-right: 7vw;
	}
	
	.ciss1, .diss1, .fiss1, .giss1, .aiss1{
		position: relative;
		left: 4.5vw;
		bottom: 50vw;
		width: 6vw;
		height: 65%;
		background-color: black;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		color: rgb(184, 55, 32);
	}
	
	.ciss1:hover, .diss1:hover, .fiss1:hover, .giss1:hover, .aiss1:hover{
		position: relative;
		left: 4.5vw;
		width: 6vw;
		height: 65%;
		background-color: tomato;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		color: tomato;
	}
	
	.ciss1:active, .diss1:active, .fiss1:active, .giss1:active, .aiss1:active{
		position: relative;
		left: 4.5vw;
		width: 6vw;
		height: 65%;
		background-color:rgb(184, 55, 32);
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		color: rgb(184, 55, 32);
	}
	.c1i, .d1i, .e1i, .f1i, .g1i, .a1i, .b1i, .c2i{
		width: 12vw;
		height: 50vw;
		margin-right: 1px;
	}
}